$maincolor:#16404D;
$cream: #FBF5DD;
$lightblue: #A6CDC6;
$sand:#DDA853;
$red: #8E1616;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.solid_line{
    height: 2px;
    border: 0;
    border-top: 1px solid $lightblue;
    margin: 0 20px;
}

.navibar{
    display: flex;

    li{
        list-style: none;
    }

    a{
        color: $maincolor;
        text-decoration: none;
    }
}

header {
  grid-area: header;
}

.mainheading{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $red;
}

main {
  grid-area: main;

  h2{
    color: $red;
  }
}

footer {
  grid-area: footer;
  h2{
    color: $red;
  }
  .solid_line{
    height: 2px;
    border: 0;
    border-top: 1px solid $cream;
    }
  background-color: $lightblue;
}
/*Set which element falls under a grid area for easy grid template*/

body{
    background-color: $cream;
/*---grid template------*/
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    ". header header ."
    ".main main ."
    ".footer footer .";
}

p{
    color: $maincolor;
}

h1{
    color: $maincolor;
}


/*Laptop Viewport*/
@media (min-width:1024px){ 

    .hammenu_phone{
    display: none;
    }

    .navibar{

        li{
            padding: 12px;
        }

        a{ 
            position: relative;
            padding: 10px;
            padding-left: 50px;
            padding-right: 50px;
        }

        a:hover{
            transition: top ease 0.7s;
            color: $cream;
            background-color: $red;
            top: -5px; /*How far up the content goes*/
        }
    }
}


