@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*--Remove all default web browser margin and padding*/

/*----For all devices ----*/
.solid_line {
  height: 2px;
  border: 0;
  border-top: 1px solid #A6CDC6;
}

/*navigation*/
.navibar {
  display: flex;
  align-items: center;
}

.navitem {
  list-style: none;
}

.navlink{
  color: #16404D;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navlink img{
  width: 40px;
  height: 40px;
}

.navlink:hover {
  transition: top ease 0.7s;
  color: #FBF5DD;
  background-color: #8E1616;
  top: -2px; /*How far up the content goes*/
}

.navmenu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

header {
  grid-area: header;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.mainheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8E1616;
}

main {
  grid-area: main;
  max-width: 900px;
  display: grid;
}

main h2 {
  color: #8E1616;
}
 
footer {
  grid-area: footer;
  background-color: #A6CDC6;
  max-width: 900px;
}

footer h2 {
  color: #8E1616;
}

footer .solid_line {
  height: 2px;
  border: 0;
  border-top: 1px solid #FBF5DD;
  padding-bottom: 20px;
}

footer p{
  text-align: center;
  padding: 5px;
}

/*Set which element falls under a grid area for easy grid template*/
body {
  font-family: "Noto Serif", serif;
  background-color: #FBF5DD;
  display: grid;
  /*---grid template------*/
  grid-template-columns: auto;
  grid-template-rows: auto;
}

p {
  color: #16404D;
  font-family: "Public Sans", sans-serif;
}

h1 {
  color: #16404D;
  text-shadow: 2px 2px #DDA853;
}

/*HERO PAGE*/ 
#about{
  background-image:url("images/sharingfood.jpeg");
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.about-text{
  background-color: rgb(22, 64, 77, 0.8);
  padding: 20px;
  width: 50%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.about-text p{
  color: #FBF5DD;
  font-weight: 300;
}

.about-text h2{
  font-size: 3rem;
  color: #DDA853;
  text-shadow: 2px 3px #8E1616;
}

.not_logged_in{
  padding: 10px;
  text-align: center;
}

#form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form div{
  padding: 10px;
}

form input{
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-family: "Public Sans", sans-serif;
}

form button{
  height: 40px;
  width: 300px;
  color: #FBF5DD;
  background-color: #8E1616;
  border-radius: 10px;
  font-family: "Public Sans", sans-serif;
  border: none;
  cursor: pointer;
}

.hidden{
  display: none;
}

.dishtext{
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.dishdesc{
  padding: 20px;
}

.dishtext img{
  width: 300px;
}

.dishtext{
    align-items: center;
}

#addrev{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addrev input{
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  font-family: "Public Sans", sans-serif;
}

#submitbutton{
  height: 40px;
  width: 300px;
  color: #FBF5DD;
  background-color: #8E1616;
  border-radius: 10px;
  font-family: "Public Sans", sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}    

.largefield{
  padding: 10px;
  border-radius: 10px;
}

/*---------------------------Phone Viewport--------------------------------*/
@media (min-width: 340px) and (max-width: 540px) {

  body{
    grid-template-areas: 
    "header header header header" 
    " main main main main" 
    "footer footer footer footer";
  }

  #about{
    height: 350px;
  }

  .about-text p{
    color: #FBF5DD;
    font-weight: 300;
  }

  header {
    display: flex;
    flex-direction: row;
    min-height: 70px;
  }

  header h1 {
    padding: 10px 0;
  }

  .hammenu_phone {
    cursor: pointer;
    display: block;
  }

  .hammenu_phone.active {
    transform: rotate(-180deg);
    transition-duration: 0.6s;
  }

  .hammenu_phone img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .navmenu {
    display: flex;
    text-align: center;
    flex-direction: column;
    transition: 0.3s;
    position: fixed;
    background-color: rgb(167, 205, 198, 0.8);
    box-shadow: 1px 2px 2px rgb(22, 64, 77, 0.8);
    right: -100%;
    top: 70px;
    gap: 0;
    width: 51%;
    border-radius: 5px;
    z-index: 1000; /*To ensure that the menu is on top of the layer*/
  }

  .navmenu.active {
    right: 0;
  }

  .navitem {
    padding: 10px;
    margin: 10px 0;
  }

  .navlink{
    color: #8E1616;
    font-size: 1.5rem;
    font-weight: 600;
  }

  #reviews{
    padding: 10px;
  }

  #reviews p{
    text-align: center;
    padding: 10px;
  }

  #dish_day{
    padding: 10px;
  }

  .dishtext img{
    width: 200px;
  }

  #add_review{
    padding: 10px;
  }

  #logged p{
    text-align: center;
  }

  #logged{
    padding: 10px;
  }

  footer{
    padding: 10px;
  }

  #loggedin h2{
    padding: 10px;
  }

}

/*-------------------------------Laptop Viewport--------------------------------*/
@media (min-width: 1020px) {

  body {
    grid-template-columns: 20% auto auto 20%; 
    /*Align the content in the center as it was leaning to the left*/
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header" 
    ". main main . " 
    ". footer footer .";
  }
  .hammenu_phone {
    display: none;
  }

  .navitem {
    padding: 12px;
  }

  .navlink {
    position: relative;
    padding: 10px;
  }

  #about{
    height: 500px;
    background-size: cover;
  }

  .about-text h2{
    font-size: 4rem;
  }

  .about-text p{
    font-size: 1rem;
    font-weight: 500;
  }

  #reviews{
    padding: 20px;
  }

  #reviews p{
    text-align: center;
    padding: 20px;
  }

  #dish_day{
    padding: 20px;
  }

  #add_review{
    padding: 20px;
  }

  #logged p{
    text-align: center;
  }

  #logged{
    padding: 20px;
  }

  footer{
    padding: 20px;
  }

  #loggedin h2{
    padding: 20px;
  }
}

/*# sourceMappingURL=kaindesign.css.map */